body{
    background-color: white;
    color: #222222;
    max-width:600px;
    margin:auto;/*margin all sides are =*/
    font-family:sans-serif
}
p{
   line-height: 1.8;
}

article + article{  /* Styles for the second and subsequent 'article' elements */
    margin-top:3rem;
    padding-top:3rem ;
    border-top:1px solid #c5c5c5
}
article:first-child {
    margin-top:3rem;
  }